---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

Df of Energy Indicator

In [0]:
import pandas as pd
import numpy as np
df = pd.read_excel("/content/drive/My Drive/Colab Notebooks/Introduction to Data Science in Python by Christopher Brooks (Coursera)/Energy Indicators.xlsx", dtype={"% Renewable":float})
df = df[17:244]
df = df.drop(columns = ["Unnamed: 0", 'Unnamed: 1', 'Unnamed: 6'])
df.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
df['Energy Supply'] = df['Energy Supply']*1000000
df.replace(r'\s+',np.nan,regex=True).replace('',np.nan)
df = df.set_index('Country')
df.set_index(df.index.str.replace('\s*\(.*?\)\s*', '').str.replace('\d+',''), inplace=True)
df = df.rename(index = {"Republic of Korea": "South Korea", 
                        "United States of America": "United States",
                        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                        "China, Hong Kong Special Administrative Region": "Hong Kong"})
df.head()
energy = df

DF of World Bank

In [4]:
df2 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Introduction to Data Science in Python by Christopher Brooks (Coursera)/world_bank.csv', skip_blank_lines=True)
df2 = df2[3:]
new_header = df2.iloc[0] #grab the first row for the header
df2 = df2[1:] #take the data less the header row
df2.columns = new_header #set the header row as the df header
df2.columns = ['Country', 'Country Code', 'Indicator Name', 'Indicator Code', 
               '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
               '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
               '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
               '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
               '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
               '2010', '2011', '2012', '2013', '2014', '2015']
df2 = df2.set_index('Country')
df2 = df2.rename(index = {"Korea, Rep.": "South Korea",
                          "Iran, Islamic Rep.": "Iran",
                          "Hong Kong SAR, China": "Hong Kong"})
df2.loc['Iran' : ]
gdp = df2
gdp.head()

            Country Code  ...          2015
Country                   ...
Aruba                ABW  ...           NaN
Andorra              AND  ...           NaN
Afghanistan          AFG  ...  2.029415e+10
Angola               AGO  ...  1.039106e+11
Albania              ALB  ...  1.312082e+10

[5 rows x 59 columns]

DF of Scunagojr-3

In [5]:
df3 = pd.read_excel('/content/drive/My Drive/Colab Notebooks/Introduction to Data Science in Python by Christopher Brooks (Coursera)/scimagojr-3.xlsx')
df3.head()
scimen = df3
scimen.head()

   Rank             Country  ...  Citations per document  H index
0     1               China  ...                    4.70      138
1     2       United States  ...                    8.20      230
2     3               Japan  ...                    7.31      134
3     4      United Kingdom  ...                    9.84      139
4     5  Russian Federation  ...                    1.85       57

[5 rows x 8 columns]

The final result

In [6]:
#last 10 years of GDP
gdp_df = gdp.drop(columns = ['Country Code', 'Indicator Name', 'Indicator Code', 
               '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
               '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
               '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
               '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
               '2000', '2001', '2002', '2003', '2004', '2005'])

#top 15 countries by scimen
scimen_df = scimen[:15]
scimen_df = scimen_df.set_index('Country')
scimen_df.head()


new_df = pd.merge(pd.merge(scimen_df, gdp_df, on='Country'), energy, on='Country')

print(new_df.shape)
new_df.head(20)

(15, 20)

                    Rank  Documents  ...  Energy Supply per Capita  % Renewable
Country                              ...
China                  1     127050  ...                        93      19.7549
United States          2      96661  ...                       286       11.571
Japan                  3      30504  ...                       149      10.2328
United Kingdom         4      20944  ...                       124      10.6005
Russian Federation     5      18534  ...                       214      17.2887
Canada                 6      17899  ...                       296      61.9454
Germany                7      17027  ...                       165      17.9015
India                  8      15005  ...                        26      14.9691
France                 9      13153  ...                       166      17.0203
South Korea           10      11983  ...                       221      2.27935
Italy                 11      10964  ...                       109      33.6672
Spain                 12       9428  ...                       106      37.9686
Iran                  13       8896  ...                       119      5.70772
Australia             14       8831  ...                       231      11.8108
Brazil                15       8668  ...                        59       69.648

[15 rows x 20 columns]

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [7]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [8]:
mergedDf = pd.merge(scimen,gdp,how='outer',left_index=True, right_index=True, indicator='a')
mergedDf = pd.merge(mergedDf, energy,how='outer',left_index=True, right_index=True, indicator='b')
mergedDf

missing = ((mergedDf['a'] != 'both') & (mergedDf['b'] != 'both')).sum()
missing

269

<br>

Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [9]:
new_df.head(16)
avgGDP = new_df[['2006', '2007', '2008', '2009', '2010',
                '2011', '2012', '2013', '2014', '2015']]
avgGDP['avg'] = avgGDP.mean(numeric_only=True,axis=1)
avgGDP = avgGDP.ix[:,-1]
avgGDP.sort_values(ascending=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """

Country
Iran                  4.441558e+11
South Korea           1.106715e+12
Australia             1.164043e+12
Spain                 1.418078e+12
Russian Federation    1.565459e+12
Canada                1.660647e+12
India                 1.769297e+12
Italy                 2.120175e+12
Brazil                2.189794e+12
United Kingdom        2.487907e+12
France                2.681725e+12
Germany               3.493025e+12
Japan                 5.542208e+12
China                 6.348609e+12
United States         1.536434e+13
Name: avg, dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [10]:
uk = new_df.loc["United Kingdom"]
print(uk['2015'] - uk['2006'])

246702696075.3999

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [11]:
enpc = new_df['Energy Supply per Capita'].mean()
enpc

157.6

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [12]:
new_df['% Renewable'].apply(lambda x: '%.5f' % x)
new_df['% Renewable'] = new_df['% Renewable'].astype(float)
brazil = new_df['% Renewable'].idxmax()
perc = new_df['% Renewable'].max()
new_perc = []
new_perc.append(brazil)
new_perc.append(perc)
tuple(new_perc)

('Brazil', 69.64803)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [13]:
new_df.head()
new_df['Ratio'] = new_df['Self-citations']/new_df['Citations']
china = new_df["Ratio"].idxmax()
ratio = new_df['Ratio'].max()
ret = []
ret.append(china)
ret.append(ratio)
tuple(ret)

('China', 0.6893126179389422)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [14]:
new_df["Population"] = new_df['Energy Supply']/new_df['Energy Supply per Capita']
new_df.head()
population = new_df['Population'].sort_values(ascending=False)
population.index[2]

'United States'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

In [15]:
new_df['Citable Per Capita'] = new_df["Citable documents"]/new_df['Population']
new_df['Citable Per Capita'].apply(lambda x: '%.5f' % x)
new_df['Citable Per Capita'] = new_df['Citable Per Capita'].astype(float)
new_df['Energy Supply per Capita'] = new_df['Energy Supply per Capita'].astype(float)
new_df['Citable Per Capita'].corr(new_df['Energy Supply per Capita'])

0.7940010435442946

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [19]:
new_df['1/0 % Renew'] = [1 if x >= new_df['% Renewable'].median() else 0 for x in new_df['% Renewable']]
highnew_df = new_df['1/0 % Renew'].sort_values()
highnew_df

Country
United States         0
Japan                 0
United Kingdom        0
India                 0
South Korea           0
Iran                  0
Australia             0
China                 1
Russian Federation    1
Canada                1
Germany               1
France                1
Italy                 1
Spain                 1
Brazil                1
Name: 1/0 % Renew, dtype: int64

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [0]:
newer_df = new_df.reset_index()

In [39]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

newer_df['Continent'] = [ContinentDict[country] for country in newer_df['Country']]


newer_df.head()

              Country  Rank  ...  1/0 % Renew      Continent
0               China     1  ...            1           Asia
1       United States     2  ...            0  North America
2               Japan     3  ...            0           Asia
3      United Kingdom     4  ...            0         Europe
4  Russian Federation     5  ...            1         Europe

[5 rows x 26 columns]

In [43]:
newer_df = newer_df.set_index('Continent')
newer_df.head()

                          Country  Rank  ...  Citable Per Capita  1/0 % Renew
Continent                                ...
Asia                        China     1  ...            0.000093            1
North America       United States     2  ...            0.000298            0
Asia                        Japan     3  ...            0.000238            0
Europe             United Kingdom     4  ...            0.000319            0
Europe         Russian Federation     5  ...            0.000128            1

[5 rows x 25 columns]

In [44]:
newer_df['Population'].apply(lambda x: '%.5f' % x)
newer_df['Population'] = newer_df['Population'].astype(float)
newer_df.groupby(level=0)['Population'].agg({'size': np.size, 'sum': np.sum, 'mean': np.mean, 'std': np.std})

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  This is separate from the ipykernel package so we can avoid doing imports until

               size           sum          mean           std
Continent
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [0]:
q12 = newer_df.reset_index()

In [46]:
q12['bins'] = pd.cut(q12['% Renewable'], 5)
q12.groupby(['Continent', 'bins']).size()

Continent      bins
Asia           (0.931, 14.73]      4
               (14.73, 28.459]     1
Australia      (0.931, 14.73]      1
Europe         (0.931, 14.73]      1
               (14.73, 28.459]     3
               (28.459, 42.189]    2
North America  (0.931, 14.73]      1
               (55.918, 69.648]    1
South America  (55.918, 69.648]    1
dtype: int64

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [53]:
import locale
locale.setlocale(locale.LC_ALL, 'en_US.utf8')
q13 = q12.set_index('Country')
thousand = []
for num in q13['Population']:
    thousand.append(locale.format('%.2f',num,grouping=True))
q13['Population'] = thousand
q13 = q13[['Population']]
q13

                          Population
Country
China               1,367,645,161.29
United States         317,615,384.62
Japan                 127,409,395.97
United Kingdom         63,870,967.74
Russian Federation    143,500,000.00
Canada                 35,239,864.86
Germany                80,369,696.97
India               1,276,730,769.23
France                 63,837,349.40
South Korea            49,805,429.86
Italy                  59,908,256.88
Spain                  46,443,396.23
Iran                   77,075,630.25
Australia              23,316,017.32
Brazil                205,915,254.24